<!DOCTYPE html>
<html lang="zh-CN" layout:decorator="core/layout/bms.bootstart.decorator" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head layout:fragment="head">
<title th:text="${state}=='add'?'鲜花类型：创建':(${state}=='edit'?'鲜花类型：修改':'鲜花类型：查看')">鲜花类型：创建</title>
<meta name="description" content="" />
<meta name="author" content="" />
<meta charset="utf-8" th:substituteby="core/layout/include/bms.bootstart.head" />
<script type="text/javascript">
	$(document).ready(function() {
		$("#eForm").validate();
	});
</script>
</head>
<body id="main">

	<div class="container-fluid" layout:fragment="content">
		<div class="content row-fluid">
			<div class="tabbable">
				<ul class="nav nav-tabs">
					<li>
						<a href="/florist/type/list">鲜花类型列表</a>
					</li>
					<li class="active">
						<a th:text="${state}=='add'?'鲜花类型添加':(${state}=='edit'?'鲜花类型修改':'鲜花类型查看')">鲜花类型添加</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<form id="eForm" th:action="@{${#ctl.path}+'/florist/type/save'}" th:object="${domain}" action="#" method="post" class="form-horizontal">
						<div class="form-group">
							<input type="hidden" id="state" name="state" th:value="${state}" />
							<input type="hidden" th:field="*{id}" />
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">类型名称</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" th:field="*{name}" required="required" />
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<input class="btn btn-default" type="submit" value="保存" th:if="${state} == 'add' or ${state} == 'edit'" />
								<input class="btn btn-default" type="button" value="返回" onclick="history.go(-1)" />
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>