<!DOCTYPE html>
<html lang="zh-CN" layout:decorator="core/layout/bms.bootstart.decorator" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head layout:fragment="head">
<title>鲜花：列表</title>
<meta name="description" content="" />
<meta name="author" content="" />
<meta charset="utf-8" th:substituteby="core/layout/include/bms.bootstart.head" />
<script type="text/javascript">
	$(document).ready(function() {
	});
	function action(type, id) {
		$("#searchForm").attr("action", ctl.path + "/florist/flowers/" + type);
		$("#id").val(id);
		$("#searchForm").submit();
		return false;
	}
	function deletion(id) {
		$('#deletionOkBtn').click(function() {
			action("deletion", id);
		});
		$('#deletionDialog').modal('show');
	}
	function page(n, s) {
		$("#pageNo").val(n);
		$("#pageSize").val(s);
		$("#searchForm").submit();
		return false;
	}
	function disable(id) {
		$("#disableAskDialog").dialog({
			resizable : false,
			modal : true,
			buttons : {
				"取消" : function() {
					$(this).dialog("close");
				},
				"确定" : function() {
					action('deletion', id)
					$(this).dialog("close");
				}
			}
		});
	}
</script>
</head>
<body id="main">
	<div class="container-fluid" layout:fragment="content">
		<div class="content row-fluid">
			<div class="tabbable">
				<ul class="nav nav-tabs">
					<li class="active">
						<a>鲜花列表</a>
					</li>
					<li>
						<a href="/florist/flowers/add">鲜花添加</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<label class="control-label"></label>
					<div th:include="core/modal/bms.message"></div>
				</div>
				<div class="col-md-12 column">
					<form id="searchForm" class="form-horizontal" th:action="@{${#ctl.path}+'/florist/flowers/list'}" role="form" method="post">
						<div>
							<input id="id" name="id" type="hidden" />
							<input id="pageNo" name="pageNo" type="hidden" th:value="${page.number + 1}" />
							<input id="pageSize" name="pageSize" type="hidden" th:value="${page.size}" />
						</div>
						<div class="form-group">
							<label class="col-sm-1 control-label">标识</label>
							<div class="col-sm-2">
								<input type="text" class="form-control" id="search_EQ_id" name="search_EQ_id" th:value="${search_EQ_id}" />
							</div>
							<div class="col-sm-2">
								<button type="submit" class="btn btn-default">查询</button>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-12 column">
					<table class="table table-condensed">
						<thead>
							<tr>
								<th class="w300">标识</th>
								<th>名称</th>
								<th>编号</th>
								<th>价格</th>
								<th>材料</th>
								<th>创建时间</th>
								<th>更新时间</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="domain : ${page.content}">
								<td>
									<a href="bms.florist.flowers.form.html" th:text="${domain.id}" th:href="@{|javascript:action('view','${domain.id}')|}">1</a>
								</td>
								<td th:text="${domain.name}">1</td>
								<td th:text="${domain.no}">1</td>
								<td th:text="${domain.price}">1</td>
								<td th:text="${domain.material}">1</td>
								<td th:text="${domain.created==null?'':#dates.format(domain.created,'yyyy-MM-dd HH:mm:ss')}">2014-07-16 17:56:12</td>
								<td th:text="${domain.modified==null?'':#dates.format(domain.modified,'yyyy-MM-dd HH:mm:ss')}">2014-07-18 17:58:16</td>
								<td>
									<a sec:authorize="hasAuthority('bms:role:comm')" href="#" th:href="@{|javascript:action('edit','${domain.id}')|}">修改信息</a>
									<a sec:authorize="hasAuthority('bms:role:comm')" href="#" th:href="@{|javascript:disable('${domain.id}')|}">删除</a>
								</td>
							</tr>
							<tr th:if="${page.content.empty}">
								<td colspan="99">没有记录</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="form-group">
					<label class="col-sm-1 control-label"></label>
					<div class="col-sm-11">
						<ul class="pagination" th:utext="${pagination}">

						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="hidden">
			<div id="disableAskDialog" title="系统提示">
				<p>
					<br />
					确认要删除该记录吗？
				</p>
			</div>
		</div>
	</div>
</body>
</html>