<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head layout:fragment="head">
<title>在线鲜花预订首页</title>
<meta name="description" content="" />
<meta name="author" content="" />
<meta charset="utf-8" th:substituteby="core/layout/include/bms.bootstart.head" />
<script type="text/javascript">
	$(function() {
		$("#logindForm").validate({
			rules : {
				loginName : "required",
				uname : "required",
			},
			submitHandler : function(form) {
				$("#logindForm").ajaxSubmit({
					dataType : "json",
					success : function(result) {
						if (result.success) {
							//$("#logindForm")[0].reset();
							window.location.reload();
						}else{
							alert("用户名或密码不正确！");
						}
						
					}
				});
			}
		});
	});
	function seach(t) {
		console.log($(t).attr("id"));
		$("#typeId").val($(t).attr("id"));
		$("#searchForm").submit();
	}

	function page(n, s) {
		$("#pageNo").val(n);
		$("#pageSize").val(s);
		$("#searchForm").submit();
		return false;
	}
</script>
</head>
<body id="main">

	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<nav class="navbar navbar-default" role="navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="/">首页</a>
					</div>

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li>
								<a>&nbsp;</a>
							</li>
							<li>
								<a>&nbsp;</a>
							</li>
							<li>
								<a>&nbsp;</a>
							</li>
						</ul>
						<form id="searchForm" class="form-horizontal" th:action="@{${#ctl.path}+'/mlist'}" role="form" method="post">
							<input id="id" name="id" type="hidden" />
							<input id="pageNo" name="pageNo" type="hidden" th:value="${page.number + 1}" />
							<input id="pageSize" name="pageSize" type="hidden" th:value="${page.size}" />
							<input type="hidden" id="typeId" name="search_EQ_typeId" th:value="${search_EQ_typeId}" />
						</form>
						<ul class="nav navbar-nav">
							<li>
								<a href="javascript:void(0)" th:onclick="${'seach(this)'}">所有类型鲜花</a>
							</li>
							<li th:each="ts : ${types}" th:class="${ts.id==search_EQ_typeId?'active':''}">
								<a href="javascript:void(0)" th:onclick="${'seach(this)'}" th:id="${ts.id}" th:text="${ts.name}">类型一</a>
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right" th:if="${#authentication.name!='anonymousUser'}">
							<li>
								<a href="/" th:text="${'欢迎，'+#authentication.name}">游客</a>
							</li>
							<li>
								<a href="/logout">退出</a>
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right"  th:if="${#authentication.name=='anonymousUser'}">
							<li>
								<a href="/" th:text="${'欢迎，游客'}">游客</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
			<div class="col-md-2 column">
				<div class="row clearfix">
					<div class="col-md-12 column">
						<h3 class="text-warning">会员登录</h3>
					</div>
				</div>
				<div class="row clearfix">
					<div class="col-md-12 column">
						<form id="logindForm" th:action="@{${#ctl.path}+'/web/login'}" method="post" role="form" th:if="${#authentication.name=='anonymousUser'}">
							<div class="form-group">
								<label>用户名</label>
								<input type="text" class="form-control" id="loginName" name="loginName" />
							</div>
							<div class="form-group">
								<label>密码</label>
								<input type="password" class="form-control" id="passwd" name="passwd" />
							</div>
							<button type="submit" class="btn btn-default">提交</button>
							<a href="/to/register" class="btn btn-default">注册</a>
						</form>
						<div th:if="${#authentication.name!='anonymousUser'}">
							<a href="/florist/order/list">会员中心</a>
						</div>
					</div>
				</div>
				<div class="row clearfix">
					<div class="col-md-12 column">
						<h3 class="text-warning">推荐</h3>
						<div th:each="domain,userStat : ${page.content}" class="file-preview-frame" style="width: 140px; height: 140px;" th:if="${userStat.index lt 2}">
							<img th:src="${#ctl.uploads+domain.image}" class="file-preview-image" style="width: 140px; height: 140px;" />
							<div class="file-thumbnail-footer">
								<div th:text="${domain.name}"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-10 column" id="list">
				<div th:each="domain,userStat : ${page.content}" class="file-preview-frame" style="width: 140px; height: 140px;">
					<img th:src="${#ctl.uploads+domain.image}" class="file-preview-image" style="width: 140px; height: 140px;" />
					<div class="file-thumbnail-footer">
						<div th:text="${domain.name}"></div>
					</div>
					<div class="file-actions">
						<div class="file-footer-buttons">
							<a th:id="${domain.id}" th:href="'/florist/flowers/view?id='+${domain.id}" target="_blank" type="button" class="kv-file-edit btn btn-xs btn-default" title="购买">
								<i class="glyphicon glyphicon-edit text-info">购买</i>
							</a>
						</div>
					</div>
				</div>
				<div th:if="${page.content.empty}" >没有数据！</div>
			</div>
			<div class="col-md-10 column" id="list">
				<ul class="pagination" th:utext="${pagination}">
				</ul>
			</div>
		</div>
	</div>
</body>
</html>