<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head layout:fragment="head">
<title>留言版</title>
<meta name="description" content="" />
<meta name="author" content="" />
<meta charset="utf-8" th:substituteby="core/layout/include/bms.bootstart.head" />
<script type="text/javascript">
	$(function() {
		$("#eForm").validate({
			rules : {
				title : "required",
				msg : "required"
			},
			submitHandler : function(form) {
				$("#eForm").ajaxSubmit({
					dataType : "json",
					success : function(result) {
						if (result.success) {
							$("#eForm")[0].reset();
						}
						alert(result.data);
					}
				});
			}
		});
	});
</script>
</head>
<body id="main">
	<div class="container-fluid" layout:fragment="content">
		<div class="container">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<nav class="navbar navbar-default" role="navigation">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="/">首页</a>
						</div>
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right" th:if="${#authentication.name!='anonymousUser'}">
								<li>
									<a href="/" th:text="${'欢迎，'+#authentication.name}">游客</a>
								</li>
								<li>
									<a href="/logout">退出</a>
								</li>
							</ul>
							<ul class="nav navbar-nav navbar-right" th:if="${#authentication.name=='anonymousUser'}">
								<li>
									<a href="/" th:text="${'欢迎，游客'}">游客</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
				<div class="container-fluid">
					<div class="row clearfix">
						<div class="col-md-12 column">
							<label class="control-label"></label>
							<div th:include="core/modal/bms.message"></div>
						</div>
					</div>
				</div>
				<div class="col-md-3 column">
					<div class="col-md-12 column">
						<div class="list-group">
							<a href="#" class="list-group-item active">个人中心</a>
							<div class="list-group-item">
								<a href="/users/edit">个人信息</a>
							</div>
							<div class="list-group-item">
								<a href="/florist/order/list">订单信息</a>
							</div>
							<div class="list-group-item">
								<a href="/florist/leave/msg/add">留言版</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-9 column">
					<div class="alert alert-success alert-dismissable">
						<h4>留言版</h4>
					</div>
					<form id="eForm" th:action="@{${#ctl.path}+'/florist/leave/msg/msave'}" th:object="${domain}" method="post" class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label">标题</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" required="required" th:field="*{title}" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">内容</label>
							<div class="col-sm-5">
								<textarea cols="5" rows="5" class="form-control" required="required" th:field="*{msg}"></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<input class="btn btn-default" type="submit" value="留言" />
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>