<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head layout:fragment="head"></head>
<body id="main">
	<div class="container">
		<div class="header">
			<div th:substituteby="core/layout/include/bms.header">
				
			</div>
		</div>
		<div class="content" layout:fragment="content"></div>
		<div class="footer">
			<div th:substituteby="core/layout/include/bms.footer">
			</div>
		</div>
	</div>
</body>
</html>
